## Import the Library

In [ ]:
import pandas as pd

## Create a Series Object

In [2]:
series_object=pd.Series([1,2,3,4,5])
series_object

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Create a Pandas DataFrame

In [3]:
df=pd.DataFrame({'Dates' :['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'] ,\
                'ID': [1,2,3,4,5,6],\
                'Names':['A','B','C','D','E','F'],\
                'Designation':['Manager','Employee','CEO','CTO','Manager','Employee']})
df

        Dates  ID Names Designation
0  2020-01-01   1     A     Manager
1  2020-01-02   2     B    Employee
2  2020-01-03   3     C         CEO
3  2020-01-04   4     D         CTO
4  2020-01-05   5     E     Manager
5  2020-01-06   6     F    Employee

## Display Data in Pandas DataFrame

In [4]:
df.head(1)

        Dates  ID Names Designation
0  2020-01-01   1     A     Manager

In [5]:
df.tail(1)

        Dates  ID Names Designation
5  2020-01-06   6     F    Employee

## Pandas DataFrame Summary

In [6]:
df.describe()

             ID
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

## Pandas DataFrame Index

In [7]:
df.index

RangeIndex(start=0, stop=6, step=1)

## Transpose Pandas DataFrame

In [8]:
df.T

,0,1,2,3,4,5
Dates,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06
ID,1,2,3,4,5,6
Names,A,B,C,D,E,F
Designation,Manager,Employee,CEO,CTO,Manager,Employee

## Check Null Values in Pandas DataFrame

In [9]:
df.isna()

   Dates     ID  Names  Designation
0  False  False  False        False
1  False  False  False        False
2  False  False  False        False
3  False  False  False        False
4  False  False  False        False
5  False  False  False        False

## Read files in Pandas

In [ ]:
csv_file=pd.read_csv("file_name.csv")
excel_file=pd.read_excel("file_name.xlsx")

## Write Files in Pandas

In [ ]:
pd.to_csv("file_name.extension")